---
- name: Install Homebrew cask's
  community.general.homebrew_cask:
    name:
      - font-fira-code
      - font-symbols-only-nerd-font
      - intellij-idea
      - logi-options+
      - yubico-authenticator
      - karabiner-elements
      - android-studio
      - flipper
      - ghostty
      - hammerspoon
      - podman-desktop
      - visual-studio-code@insiders
      - keycastr
- name: Install packages from Homebrew
  community.general.homebrew:
    name:
      - starship
      - fnm
      - git
      - gh
      - fzf
      - ripgrep
      - eza
      - zoxide
      - bat
      - jq
      - yq
      - tmux
      - htop
      - ffmpeg
      - imagemagick
      - gifsicle
      - stow
      - alfred
      - luarocks
      - emscripten
      - python
      - pipx
      - podman
      - tree
      - unp
      - s3cmd
      - ijhttp
      - fd
      - clipboard
- name: Install Rust
  ansible.builtin.shell: |
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
