keybinds clear-defaults=false {
  shared {
    unbind "Ctrl g"
    unbind "Ctrl p"
    unbind "Ctrl t"
    unbind "Ctrl n"
    unbind "Ctrl h"
    unbind "Ctrl s"
    unbind "Ctrl o"
    unbind "Ctrl q"
    unbind "Ctrl b"
  }

  normal {
    bind "Ctrl s" { SwitchToMode "Tmux"; }
  }

  tmux {
    bind "Ctrl q" { Quit; }
    bind "r" { SwitchToMode "resize"; }
    bind "-" { NewPane "Down"; SwitchToMode "Normal"; }
    bind "\\" { NewPane "Right"; SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "resize"; }
    bind "h" { MoveFocus "Left"; SwitchToMode "normal"; }
    bind "l" { MoveFocus "Right"; SwitchToMode "normal"; }
    bind "j" { MoveFocus "Down"; SwitchToMode "normal"; }
    bind "k" { MoveFocus "Up"; SwitchToMode "normal"; }
    bind "m" { SwitchToMode "Move"; }
  }
}

themes {
  tokyo-night-storm {
    fg "#c0caf5"
    bg "#24283b"
    black "#1d202f"
    red "#f7768e"
    green "#9ece6a"
    yellow "#e0af68"
    blue "#7aa2f7"
    magenta "#bb9af7"
    cyan "#7dcfff"
    white "#a9b1d6"
    orange "#ff9e64"
  }
}

plugins {}

theme "tokyo-night"
simplified_ui true
default_shell "fish"
pane_frames false
mouse_mode true
scroll_buffer_size 100000
copy_clipboard "system"
copy_on_select true
